[submodule]
    active = .
[submodule "bundle/rainbow"]
    path = bundle/rainbow
    url = https://github.com/luochen1990/rainbow
[submodule "bundle/vim-fugitive"]
    path = bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-pathogen"]
    path = bundle/vim-pathogen
    url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-renamer"]
    path = bundle/vim-renamer
    url = https://github.com/qpkorr/vim-renamer
[submodule "bundle/vim-yaml"]
    path = bundle/vim-yaml
    url = https://github.com/stephpy/vim-yaml
[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/preservim/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
    path = bundle/nerdtree-git-plugin
    url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/lightline.vim"]
    path = bundle/lightline.vim
    url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-prettier"]
    path = bundle/vim-prettier
    url = https://github.com/prettier/vim-prettier.git
[submodule "bundle/dracula"]
    path = bundle/dracula
    url = https://github.com/dracula/vim.git
[submodule "bundle/ale"]
    path = bundle/ale
    url = https://github.com/dense-analysis/ale.git
[submodule "bundle/supertab"]
    path = bundle/supertab
    url = https://github.com/ervandew/supertab
[submodule "bundle/vim-python-pep8-indent"]
    path = bundle/vim-python-pep8-indent
    url = https://github.com/Vimjas/vim-python-pep8-indent
[submodule "bundle/vim-log-highlighting"]
    path = bundle/vim-log-highlighting
    url = https://github.com/mtdl9/vim-log-highlighting
[submodule "bundle/rust.vim"]
    path = bundle/rust.vim
    url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/Jenkinsfile-vim-syntax"]
    path = bundle/Jenkinsfile-vim-syntax
    url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
[submodule "bundle/fzf.vim"]
    path = bundle/fzf.vim
    url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/starlark.vim"]
    path = bundle/starlark.vim
    url = https://github.com/cappyzawa/starlark.vim
[submodule "bundle/copilot.vim"]
    path = bundle/copilot.vim
    url = https://github.com/github/copilot.vim.git
[submodule "bundle/vim-spl"]
    path = bundle/vim-spl
    url = https://github.com/lilyinstarlight/vim-spl
[submodule "bundle/vim-terraform"]
    path = bundle/vim-terraform
    url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/vim-markdown"]
    path = bundle/vim-markdown
    url = https://github.com/preservim/vim-markdown.git
[submodule "bundle/vim-rego"]
    path = bundle/vim-rego
    url = https://github.com/tsandall/vim-rego.git
[submodule "bundle/vim-terraform-completion"]
	path = bundle/vim-terraform-completion
	url = git@github.com:juliosueiras/vim-terraform-completion.git
[submodule "bundle/deoplete.nvim"]
	path = bundle/deoplete.nvim
	url = git@github.com:shougo/deoplete.nvim
