Babel
Jinja2
MarkupSafe
Pygments
Sphinx
alabaster
astroid
certifi
charset-normalizer
click
darglint
dill
docstring-parser
docutils
flake8
greenlet
idna
imagesize
isort
jedi
lazy-object-proxy
mccabe
msgpack
neovim
numpydoc
packaging
parso
platformdirs
pycodestyle
pyflakes
pylint
pynvim
requests
ruff
snowballstemmer
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tomlkit
urllib3
wrapt
